{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1 class="mb-4">Lista de Clientes</h1>
    <ul class="list-group">
        {% for customer in customers %}
            <li class="list-group-item">
                {{ customer.name }} | {{ customer.contact }} -> {{ customer.reservation_set.count }} reservation{{ customer.reservation_set.count|pluralize }} -> Último voo: {{ customer.reservation_set.last }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}