{% extends 'base.html' %}

{% block title %}Voos{% endblock %}

{% block content %}
    <h1 class="text-dark fw-bold mb-4">Voos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Avião</th>
                <th>Hora de Saída</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.airplane }}</td>
                <td>{{ flight.departure_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}